<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="color:white">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <a class="navbar-brand" href="{{ "/index.html" | prepend: site.baseurl }}">
                Junction Asia
            </a>
        </div>


        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
<!-- 				<li>
                    <a class="page-scroll" href="{{ "/partners.html" | prepend: site.baseurl }}">Meet partners</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="{{ "/schedule.html" | prepend: site.baseurl }}">Schedule</a>
                </li>
		        <li>
                    <a class="page-scroll" href="{{ "/hardware.html" | prepend: site.baseurl }}">Hardware</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/faq.html" | prepend: site.baseurl }}">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/blog/index.html" | prepend: site.baseurl }}">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/jp/index_jp.html" | prepend: site.baseurl }}">JP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
