---
layout: default
---

<!doctype html>
<html class="no-js">

{% include head.html %}

<body id="page-top" data-target=".navbar-fixed-top">
  <script>
var password;
var pass1="testenv";
password=prompt('Please enter your password to view this page.',' ');
if (password==pass1)
  alert('Password Correct! Click OK to enter!');
else
   {
    window.alert("Incorrect password, please try again. Redirecting to Home Page.");
    window.location="http://junction.asia";
    }
</script>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  </body>
</html>


